<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="card">
      <div class="item">
        Wisita Javascript Player API documentation can be found
        <a href="https://wistia.com/doc/player-api#get_started" target="_blank">here</a>.
      </div>
    </div>
    <h2>Reproducible Steps</h2>
    <em style="font-style: italic;">Follow the steps below <b>without</b> refreshing your browser window.</em>
    <br \><br \>
    <ion-list>
      <ion-item>1. Open browser console.</ion-item>
      <ion-item>2. Tap on 'Wistia Video' tab at the bottom.</ion-item>
      <ion-item>3. Notice console.log message 'I got a handle to the video!'.</ion-item>
      <ion-item>4. Tap the 'Home' tab.</ion-item>
      <ion-item>5. Tap the 'Wistia Video' tab again.</ion-item>
      <ion-item>6. Notice the 'I got a handle to the video!' onReady event fires twice.</ion-item>
      <ion-item>7. Then, each additional time you go back and forth again (without refreshing the browser), another onReady event is fired each time.</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
