<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="card">
      <div class="item">
        Wisita Javascript Player API documentation can be found
        <a href="https://wistia.com/doc/player-api#get_started" target="_blank">here</a>
      </div>
    </div>
    <h2>Reproducible Steps</h2>
    <ion-list>
      <ion-item>1. open browser console</ion-item>
      <ion-item>2. tap on 'Wistia Video' tab</ion-item>
      <ion-item>3. Notice console.log message 'I got a handle to the video!'</ion-item>
      <ion-item>4. Tap the 'Home' tab</ion-item>
      <ion-item>5. Tap the 'Wistia Video' tab again</ion-item>
      <ion-item>6. Notice the 'I got a handle to the video!' onReady event fires twice</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
